<ul class="list-group article-list">
  <li class="list-group-item" ng-repeat="item in vm.items">
    <h4>
      <a ng-href="{{vm.getArticleUrl(item.id)}}">{{item.title}}</a>
    </h4>
    <p>{{item.annotation}}</p>
  </li>
</ul>