<div class="well">
  <form class="form-horizontal" name="userForm" novalidate>
    <div class="col-lg-12">
    <div class="form-group">
      <label>Логин</label>
      <input class="form-control" type="text" ng-model="user.login" name="user.login" />
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input class="form-control" type="password" ng-model="user.password" name="user.password" />
    </div>

    </div>
    <button class="btn btn-primary" ng-click="vm.authenticate(user)">Войти</button>
  </form>
</div>